*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dedede;
    font-family: "", sans-serif;
    color: #030303;
    width: 1250px;
    margin-inline: auto;
    min-height: 100vh;
}

header {
    z-index: 10;
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    margin-block: 16px;
    position: sticky;
    top:0px;
    background-color: #dedede;
    border: 1px solid #cecece;
    border-radius: 16px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#figure-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#logo {
    height: 128px;
}

#title-page {
    font-size: 32px;
    font-weight: 700;
}

#navbar {
    padding-inline: 48px;
    justify-items: center;
}

#navbar > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-inline: 250px;
}

#navbar > ul > li {
    margin-inline: 32px;
}

#navbar > ul > li > a {
    padding: 8px 16px;
    background-color: #aaaaaa;
    text-decoration: none;
    color: black;
}

#navbar > ul > li > a.active {
    background-color: #31daeb;
    font-weight: 600;
}

#navbar > ul > li > a:hover {
    background-color: #d43427;
}

footer {
    width: 100%;
    height: 75px;
    display: flex;
    margin-block: 16px;
    background-color: transparent;
    border: 1px solid #cecece;
    border-radius: 16px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 24px;
}

#copyright {
    font-size: 32px;
    font-weight: 600;
}

.hero {
    width: 90%;
    margin-inline: auto;
    margin-block: 1000px;
    align-items: center;
    background-color: #aeaeae;
    display: flex;
    flex-direction: column;
    margin-block: 16px;
    border: 1px solid rgb(181, 178, 178);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.hero > a {
    margin-top: 16px;
    text-decoration: none;
    color: #030303;
}

.hero > h2 {
    font-size: 20px;
    font-weight: 600;
}

.hero > ul {
    margin-block: 32px;
    list-style: none;
    display: flex;
}

.hero-character, .hero-product {
    width: 450px;
    height: 675px;
    text-align: center;
    display: flex;
    overflow: hidden;
    background-color: rgb(112, 109, 105);
    margin-inline: 4px;
}

.hero-character:hover {
    border: 2px solid #d43427;
    border-radius: 4px;
}

.hero-product:hover {
    border: 2px solid #31daeb;
    border-radius: 4px;
}


.hero-character > a > img, .hero-product > a > img {
    margin: auto;
}